---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import features from "~/data/features.json";
---

<ContentSection title="Features" id="features">
  <div class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <div class="flex flex-col items-center gap-4 p-6">
          <Icon class="w-72 h-72" name={icon} />
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">
            <Fragment set:html={description} />
          </p>
        </div>
      ))
    }
  </div>
</ContentSection>
