---
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Modules from "~/components/modules.astro";
import Intro from "~/components/intro.astro";
import Links from "~/components/links.astro";
import MainHead from "~/components/MainHead.astro";
// import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <MainHead />
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="px-8 py-8 space-y-24">
      <Intro />
      <Features />
      <Modules />
      <!-- <Showcase /> -->
      <Links />
    </div>
    <Footer />
  </body>
</html>
