---
---

<footer class="relative flex items-center justify-center h-64">
  <span class="text-sm text-center">
    <br />
    <br />
    &copy; {new Date().getFullYear()} Aidan Timson
    <br />
    Website source available on{" "}
    <a
      href="https://github.com/timmo001/system-bridge-website"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub</a
    >.
    <br />
    <br />
  </span>
</footer>
