---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="intro">
  <Fragment slot="lead">
    System Bridge is an application for your desktop that allows you to
    <span class="text-primary">monitor</span>
    and
    <span class="text-primary">control</span>
    your system.
  </Fragment>
  <div class="grid grid-cols-1">
    <a
      href="/docs/install"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="tray-arrow-down" class="h-8" />
      <span>Download & Install</span>
    </a>
  </div>
</ContentSection>
