---
import { Icon } from "astro-icon";
const { data } = Astro.props;
---

<div class="grid grid-cols-1 gap-8">
  {
    data.map(({ title, icon, description, url }) => (
      <a
        class="grid grid-cols-2 gap-2 text-current items-center"
        href={url}
        target="_blank"
      >
        <Icon class="h-72" name={icon} />
        <div>
          <p class="text-xl font-extrabold text-left">{title}</p>
          <p class="text-sm text-left text-offset">
            <Fragment set:html={description} />
          </p>
        </div>
      </a>
    ))
  }
</div>
