---
import ContentSection from "~/components/content-section.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import MainHead from "~/components/MainHead.astro";
import Splash from "~/components/splash.astro";

const { id, title } = Astro.props.content;
---

<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <MainHead title="Download & Install" />
  </head>
  <body
    class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <ContentSection title={title} id={id}>
      <article class="max-w-6xl">
        <slot />
      </article>
    </ContentSection>
    <Footer />
  </body>
</html>
